body,
html {
  margin: 0;
  background: hsl(227, 45%, 12%);
  color: white;
  font-family: "Comfortaa", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: .5rem solid hsl(227, 46%, 25%);
}

h1 {
  margin: 0;
}

.subtext {
  margin: 0;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: end;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid hsl(227, 46%, 25%);
  padding: .5rem 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: hsl(227, 46%, 25%);
  border: 2px solid hsl(227, 46%, 50%);
}

.thumbnail {
  border: none;
  width: 100%;
  aspect-ratio: 1;
  transition: all .3s ease-out;
}

.thumbnail:hover {
  border: none;
  scale: 1.2;
  z-index: 2;
  transition: all .3s cubic-bezier(0.41, 0, 0.265, 1.55);
}

.color {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
}

.color-suggestions-container {
  padding: 2rem 4rem;
  border-left: .5rem solid hsl(227, 46%, 25%);
  max-height: 100%;
  overflow-y: auto;
}

.color-suggestions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.color-container {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  overflow-y: auto;
}

.color-page {
  display: flex;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.color-fill {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease-in-out;
}

.color-information {
  background: hsl(227, 45%, 12%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}